body{
  background-image:url("ritz.jpg");
}
h1
{
  text-align: center;
  color:white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px green;
  font-size:50px;
}
p{
  color:white;
  font-family: serif;
  font-size:30px;
  padding: 0.7cm;
}
.img1{
  height:300px;
  width:250px;
  box-shadow: :20px 4px 8px black;
  display:inline-block;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter:         drop-shadow(10px 15px 15px #222);
   margin-right:50px;
   margin-left:5px;
}
.img2{
  height:300px;
  width:300px;
  box-shadow: :20px 4px 8px black;
  display:inline-block;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter:         drop-shadow(10px 15px 15px #222);
   margin-right:50px;
   margin-bottom:50px;
}
.img3
{
  height:300px;
  width:250px;
  box-shadow:2px 4px 2px black;
  display:inline-block;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter:         drop-shadow(10px 15px 15px #222);
   margin-right:50px;

}
.img4
{
  height:300px;
  width:250px;
  box-shadow: :2px 4px 1px black;
  display:inline-block;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter:         drop-shadow(10px 15px 15px #222);
   margin-right:50px;
   margin-bottom:50px;
}
.font{
  font-family: Arial, Helvetica, sans-serif;
}
button{
  border-radius: 9px;
      text-shadow: 3px 2px 1px #800000;
      font-size: 90%;
  background:#B06AB3;
  text-align: center;
  border:2px;
  color:rgb(255,240,220);
  box-shadow: 8px 4px 10px 4px #800000;
  padding: 0.2cm;
  margin-left: 600px;
  margin-right:400px;
}
